<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/js/bootstrap.min.js">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link rel="stylesheet" href="css/icofont/icofont.min.css">
    <title>CRUD</title>
</head>
<body>
    <header>
        <div class="panel">
            <h3 class="text-center">Admin</h3>
        </div>
        <button class="menu"><i class="icofont-navigation-menu"></i></button>
    </header>

    <nav>
        <ol>
            <li><a href="#"><i class="icofont-info"></i> About</a></li>
            <li><a id="ajax" href="#"><i class="icofont-workers-group"></i> Employees</a></li>
        </ol>
    </nav>

    <main>
    </main>
    
    <footer>
        <p class="text-center"><strong>Copyright<i class="icofont-copyright"></i>2020.</strong>All rights reserved</p>
    </footer>
    
    
    <script src="js/main.js"></script>
</body>
</html>